* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
.box {
  width: 100%;
  height: 100vh;
  background-color: rgb(155, 209, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.container {
  width: auto;
  max-width: 85rem;
  height: auto;
  background-color: rgb(208, 245, 206);
  padding: 2rem;
  border-radius: 2rem;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: auto;
}
.headerLeft {
  display: flex;
  gap: 1rem;
  height: auto;
}
.logo i {
  color: gray;
  font-size: 3rem;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
}
.title span {
  font-size: 2rem;
  color: gray;
}
.headerRight {
  width: 16rem;
  height: auto;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem grey;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.headerRight input {
  border: none;
}
main {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
}
.asideLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}
.asideLeft i {
  cursor: pointer;
}
.openBook:hover,
.btnLogout:hover {
  opacity: 0.5;
}
.asideLeftTop,
.asideLeftBottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2rem;
  align-items: center;
}
.asideRight {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: rgb(155, 209, 153);
  padding: 1rem;
  border-radius: 1rem;
}

.asideRightBox {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: rgb(208, 245, 206);
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.userName {
  font-weight: 600;
}
.user .images {
  font-size: 4rem;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.lastRead,
.lastLisstned {
  display: flex;
  justify-content: space-between;
  background-color: rgb(208, 245, 206);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.image {
  font-size: 2rem;
}
.asideRightBox .typographie {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section {
  background-color: rgb(155, 209, 153);
  width: auto;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  height: 60vh;
}
.boxHeader {
  display: flex;
  gap: 1.5rem;
  width: auto;
}
.sectionHeader {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}
.ayahSort,
.NumberSort,
.AlphabetSort {
  background-color: rgb(208, 245, 206);
  width: auto;
  min-width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.ayahSort:hover,
.NumberSort:hover,
.AlphabetSort:hover {
  opacity: 0.5;
}
.sort {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.sort span {
  color: gray;
}
.sort p {
  font-weight: 600;
}
.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
  width: auto;
}
.Surah {
  display: flex;
  flex-direction: column;
  background-color: rgb(208, 245, 206);
  padding: 0.5rem;
  width: auto;
  min-width: 18rem;
  border-radius: 0.5rem;
  height: auto;
  max-height: 6rem;
}
.numberOfSurah {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.numberOfSurah i {
  font-size: 1.5rem;
  cursor: pointer;
}
.number {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 209, 153);
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
}
.number:hover {
  opacity: 0.5;
}
.nameOfSurah {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
}
.translatNameOfSurah {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.enRead {
  font-weight: 600;
}

.btnLogout {
  cursor: pointer;
}
.playSurah {
  width: 30%;
  position: relative;
  left: 35%;
  background-color: rgb(208, 245, 206);
  border: none;
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
.infoName {
  font-weight: 700;
}
#player {
  width: 100%;
}
.surahSection {
  height: 40vh;
  overflow: auto;
  background-color: rgb(208, 245, 206);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}
.like,
#dislike {
  cursor: pointer;
}
#dislike {
  display: none;
}
.spanLike {
  width: 3em;
  text-align: end;
}
.surahSection {
  font-family: "Amiri Quran";
}
@media (max-width: 880px) {
  .ayahSort,
  .NumberSort,
  .AlphabetSort {
    background-color: rgb(208, 245, 206);
    width: auto;
    min-width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    flex-direction: column;
    font-size: 1rem;
  }
}
@media (max-width: 780px) {
  .container {
    width: auto;
    max-width: 85rem;
    background-color: rgb(208, 245, 206);
    padding: 2rem;
    border-radius: 2rem;
    overflow: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  main {
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
    flex-direction: column;
  }
  .asideLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }
  .asideLeftTop,
  .asideLeftBottom {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 2rem;
    align-items: center;
  }
  .box {
    width: 100%;
    height: auto;
    background-color: rgb(155, 209, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  .title {
    font-size: 2rem;
    font-weight: 600;
  }
  .headerLeft {
    display: flex;
    gap: 0.5rem;
    height: auto;
    align-items: center;
  }
}
