* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 209, 153);
}
.container {
  height: auto;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  background-color: rgb(208, 245, 206);
}
.loginForm {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inputField {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.action {
  display: flex;
  justify-content: space-around;
}
header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
header span {
  color: gray;
  font-size: 1.5rem;
}
h3 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(96, 161, 92);
}
label {
  font-size: 1.3rem;
  font-weight: 500;
}
input {
  height: auto;
  width: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.loginAction,
.resetAction,
.signUpAction {
  width: auto;
  height: auto;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(167, 217, 165);
  cursor: pointer;
}
.loginAction:hover {
  opacity: 0.5;
}
.resetAction:hover {
  opacity: 0.5;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}
